<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Define the targets -->
    <targets>
        <!-- Console target -->
        <target xsi:type="Console" name="console" layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>

    <!-- Define the rules -->
    <rules>
        <!-- Log all messages from all levels to the console -->
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>